
<script src="/js/checklogin.js"></script>

<div class="container jumbotron text-center">
    <h1>Top 20 Results</h1>
</div>
<div class="container">
    <div class="row">
        {{#each artists}}
        <div class="col-sm-4 col-lg-3 my-3">
            <div class="card">
                <h4 class="card-header">
                    {{this.name}}
                </h4>
                {{#if this.hasImage}}
                <img class="card-img-top" src="{{this.image}}" height="150" width="100">
                {{else}}
                <img class="card-img-top" src="/styles/images/band-name.jpeg" height="150" width="100">
                {{/if}}
                <div class="card-body">
                    <a href="{{this.page}}" class="btn btn-primary">Spotify Page</a>
                    <form action="/mapResult" method="POST">
                        <button type="submit" href="{{this.id}}" class="btn btn-danger tour-map">Map Tour</a>
                            <input hidden type="text" name="bandName" value="{{this.name}}">
                    </form>
                    <button id="btn-like" class="btn" data-id="{{this.id}}" data-name="{{this.name}}" data-image="{{this.image}}"
                        data-page="{{this.page}}">Like</button>
                    <button class="show-top-songs btn btn-primary" type="button" data-toggle="collapse" data-target="#top-songs-{{this.id}}"
                        aria-expanded="false" aria-controls="top-songs-{{this.id}}" value={{this.id}}>Load Top Songs</button>
                    <div class="collapse" id="top-songs-{{this.id}}"></div>
                </div>
>>>>>>> f7fc1d95f6a30c746f85d2c704f9ac5eb9b8fc37
            </div>
        </div>
        {{/each}}
    </div>
<<<<<<< HEAD
    {{/each}}
</div>
</div>
=======
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="/js/artistResults.js"></script>
<script src="/js/topSongs.js"></script>
>>>>>>> f7fc1d95f6a30c746f85d2c704f9ac5eb9b8fc37
