<div class="container">
<div class="row">
    {{#each artists}}
    <div class="col-sm-4 col-lg-3">
        <div class="card">
            <div class="card-header">
                {{this.name}}
            </div>
            <img class="card-img-top" src="{{this.image}}">
            <div class="card-body">
                <h5>Genres</h5>
                <ul>
                    {{#each this.genres}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <a href="{{this.page}}" class="btn btn-primary">Spotify Page</a>
                <form action="/mapResult" method="POST">
                    <button type="submit" href="{{this.id}}" class="btn btn-danger tour-map">Map Tour</a>
                    <input hidden type="text" name="bandName" value="{{this.name}}">
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>