
<script src="/js/checklogin.js"></script>

<div class="container jumbotron text-center">
    <h1>Top 20 Results</h1>
</div>
<div class="container">
    <div class="row">
        {{#each artists}}
        <div class="col accordion band-card" id="accordion-{{this.id}}">
            <div class="card">
=======
                <div class="card-header" id="heading-one">
                    <h4>
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#one-{{this.id}}"
                            aria-expanded="true" aria-controls="one-{{this.id}}">
                            {{this.name}}
                        </button>
                    </h4>
                </div>
                <div id="one-{{this.id}}" class="collapse show" aria-labelledby="heading-one" data-parent="#accordion-{{this.id}}">
                    <div class="card-body">
                        {{#if this.hasImage}}
                        <img class="card-img-top img-fluid" src="{{this.image}}" height="150" width="100">
                        {{else}}
                        <img class="card-img-top img-fluid" src="/styles/images/band-name.jpeg" height="150" width="100">
                        {{/if}}
                        <a href="{{this.page}}" class="btn btn-primary">Spotify Page</a>
                        <form action="/mapResult" method="POST">
                            <button type="submit" href="{{this.id}}" class="btn btn-danger tour-map">Map Tour</a>
                                <input hidden type="text" name="bandName" value="{{this.name}}">
                        </form>
                        <button id="btn-like" class="btn" data-id="{{this.id}}" data-name="{{this.name}}" data-image="{{this.image}}"
                            data-page="{{this.page}}">Like</button>
                    </div>
                </div>
                <div class="card-header" id="heading-two">
                    <h4>
                        <button class="show-top-songs btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#two-{{this.id}}" aria-expanded="false" aria-controls="two-{{this.id}}" value="{{this.id}}">
                            Top Songs
                        </button>
                    </h4>
                </div>
                <div id="two-{{this.id}}" class="collapse show" aria-labelledby="heading-two" data-parent="#accordion-{{this.id}}">
                    <div id="top-songs-{{this.id}}"></div>
>>>>>>> master
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="/js/artistResults.js"></script>
<script src="/js/topSongs.js"></script>
